<body>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Refresh" content="0; URL={{.siteURL}}" />
    <meta property="og:title" content="{{.title}}" />
    <meta property="og:description" content="{{.description}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{.siteURL}}" />
    <meta property="og:image" content="{{.imageURL}}" />
    <meta property="og:site_name" content="{{.name}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{.title}}" />
    <meta name="twitter:description" content="{{.description}}"/>
    <meta name="twitter:image" content="{{.imageURL}}" />
  </head>
</body>